API_KEY=''

PORT=9000

# ============ DB_PORT FOR POSTGRES ============
DATABASE_PORT=5432

# ============ DATABASE ============
DATABASE_TYPE=''
DATABASE_HOST=''
DATABASE_USERNAME=''
DATABASE_PASSWORD=''
DATABASE_NAME=''
DATABASE_ENTITIES=[]
DATABASE_SYNCHRONIZE=0

# ============ SECRET JWT ============
JWT_SECRET=''
JWT_EXPIRES_IN=''

# ============ GOOGLE ============
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL=''